@use "./variables" as *;

.header {
  .header {
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $padding calc($padding / 2);
    }

    &__heading {
      text-transform: capitalize;
      font-size: $xxxl;
      text-shadow: $text-shadow;
    }

    &__actions {
      display: inline-flex;
      place-items: center;
      gap: $gap;
    }
  }
}

.jn-form {
  .jn-form {
    &__container {
      padding: $padding;
      background-color: var(--bg-color);
      border-radius: $border-radius-outer;
      margin-bottom: $gap;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: $gap;
      margin-bottom: calc($gap * 2);

      &--values {
        display: inline-flex;
        gap: $gap;

        .jn-select {
          min-width: 18rem;
        }
      }

      &--total {
        display: inline-flex;
        place-items: center;
        justify-content: center;
        background: transparent;
        font-size: $input-font-size;
        gap: $gap;

        &::before {
          content: "-";
          display: inline-block;
        }
      }
    }

    &__layout {
      display: flex;
      flex-direction: column;
      gap: $gap;
    }

    &__row {
      display: grid;
      grid-template-columns: 1fr 0.25fr;
      align-items: center;
      gap: $gap;
    }
  }
}
