@use "./variables" as *;

.header {
  .header {
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $padding calc($padding / 2);
      margin-bottom: $gap;

      @media (max-width: $breakpoint-md) {
        flex-direction: column;
        gap: $gap;
      }
    }

    &__heading {
      &--value {
        font-size: $xxxl;
        text-shadow: $text-shadow;
      }

      &--input {
        display: inline-flex;
        align-items: center;
        gap: calc($gap / 2);
        .jn-inputfield {
          &__input {
            width: var(--input-width);
            font-size: $xxxl;
            background-color: $color-tertiary;
            text-shadow: $text-shadow;
            font-weight: $text-bolder;
          }
        }
      }
    }

    &__actions {
      display: inline-flex;
      place-items: center;
      gap: $gap;

      @media (max-width: $breakpoint-md) {
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}

.page-layout {
  .page-layout {
    &__container {
      display: flex;
      flex-direction: row;
      gap: calc($gap * 2);

      @media (max-width: $breakpoint-lg) {
        gap: $gap;
      }

      @media (max-width: $breakpoint-md) {
        flex-direction: column;
      }
    }

    &__forms {
      flex: 1;
    }

    &__textarea {
      flex: 1;
      box-shadow: $box-shadow-light;
      margin-bottom: $gap;

      textarea {
        resize: none;
        height: 100%;
        outline: none;
        font-family: $font-family;
        color: $input-color-text;
        font-size: $md;
        width: $input-container-width;
        border-radius: $border-radius-outer;
        background-color: $input-bg-color;
        border: $input-container-border;
        padding: calc($input-items-padding * 2);
        min-height: $input-options-max-height;

        @media (max-width: $breakpoint-md) {
          min-height: calc($input-options-max-height * 2);
        }
      }
    }
  }
}

.jn-form {
  .jn-form {
    &__container {
      padding: $padding;
      background-color: var(--bg-color);
      border-radius: $border-radius-outer;
      box-shadow: $box-shadow-light;
      margin-bottom: $gap;

      @media (max-width: $breakpoint-md) {
        margin-bottom: calc($gap * 2);
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: $gap;
      margin-bottom: calc($gap * 2);

      &--values {
        display: inline-flex;
        gap: $gap;

        .jn-select {
          min-width: 18rem;
        }
      }

      &--actions {
        min-width: 6rem;
      }

      &--total {
        display: inline-flex;
        place-items: center;
        justify-content: center;
        background: transparent;
        font-size: $input-font-size;
        gap: $gap;

        &::before {
          content: "-";
          display: inline-block;
        }
      }
    }

    &__layout {
      display: flex;
      flex-direction: column;
      gap: $gap;
    }

    &__row {
      display: grid;
      grid-template-columns: 1fr 0.25fr;
      align-items: center;
      gap: $gap;
    }
  }
}
