// Colors
$color-primary: rgb(26, 26, 26);
$color-secondary: rgb(36, 36, 36);

// Backgrounds
$bg-primary: rgba(255, 255, 255, 0.87);
$bg-accent: rgb(100, 108, 255);
$bg-accent-hover: rgb(83, 91, 242);

// Typography
$text-light: 300;
$text-normal: 400;
$text-bold: 500;
$text-bolder: 700;

$line-height: 1.2;

// Standards
$transition: 0.3s linear;
